{% extends 'base.html' %}
{% block content %}

<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-4">🦅 Bem-vindo à Galeria Rubro-Negra 🦅</h2>
            <p class="lead mb-4">Uma coleção dedicada ao Mais Querido! Faça upload e compartilhe suas melhores imagens do Flamengo.</p>
            <a href="{{url_for('galeria')}}" class="btn btn-primary btn-lg">Ver Galeria Rubro-Negra</a>
        </div>
    </div>
</div>

{% endblock content %}